---
layout: default
title: Blog
permalink: /blog/
---
<!-- This loops through the paginated posts -->
<div class='container'>
  <div class="row post">
    {% for post in site.posts %}
      <div class="twelve columns post-title">
        <h4>
          <small>{{ post.date | date: "%b %-d, %Y" }}</small>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h4>

        <div class='twelve columns post-content'>
          {% if post.description %}
            <span class="body">{{ post.description | markdownify }}</span>
          {% else %}
            <span class="body">{{ post.excerpt | strip_html }}</span>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

  <div class='row'>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss">&nbsp;RSS</i>
</a>
  </div>
</div>

<!-- Pagination links -->
<!-- <div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
 -->
