<footer class="page-footer orange">
  <div class="container">
    <div class="row">

      <div class="col l6 s12">
        <h5 class="white-text">&nbsp;</h5>
        <p class="grey-text text-lighten-4">&nbsp;</p>
      </div>

      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contacts</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">+38 (063) 765-49-17</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">lukin.maksim@gmail.com</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container center">
      © 2019 WebHouse
      <!-- <a class="grey-text text-lighten-4 right" href="/" alt="Agile web development">Agile web development</a> -->
    </div>
  </div>
</footer>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68680443-1', 'auto');
  ga('send', 'pageview');
</script>
<!-- End Google Analytics -->

<!-- Latest compiled and minified JavaScript -->
<!--
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
-->

