<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item"><a class="navbar-link" href="#">&nbsp;</a></li>
      <li class="navbar-item"><a class="navbar-link" href="/">Company</a></li>
        {% for page in site.pages %}
          {% if page.title %}
            <li class="navbar-item">
              <a class="navbar-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li class="navbar-item"><a class="navbar-link" href="http://customgears.net/#contact">Contacts</a></li>
    </ul>
  </div>
</nav>
<div class='u-cf'>&nbsp;</div>
<!-- Work, Products, Contact -->
