<img class="photo" src="photo.jpg" alt="photo">
<div>&nbsp;</div>

<p class="lead">
  Hello, i'm Max Lukin
</p>

<p class="lead">
  I help business and companies to grow by consulting, developing and supporting using Software Engineering practices.
</p>

<p class="lead">
  My area of interests includes large-scale web services, operational practices such as on-call and monitoring, effective developer tools and engineering leadership.
</p>

<p class="lead">
  I enjoy working with open source (especially Ruby on Rails, <small><i>and some JS</i></small>), <a href="/blog">writing</a> about technologies I work with.
</p>

<!--
<p class="lead">
  Currently, I work at Shopify. Previously, I've consulted Fortune 500 companies at Evil Martians, recorded the Ruby Noname Podcast, coached at RailsGirls and maintained Capistrano.
</p>
-->

<p class="lead">
  Feel free to email me at <a target="_blank" href="mailto:lukin.maksim@gmail.com">lukin.maksim@gmail.com</a>
</p>
