<nav class="navbar navbar-light bg-light sticky-to">
  <a class="navbar-brand navbar-logo-text" href="/">
    <h3>Max Lukin</h3>
  </a>
  <a class="navbar-logo-tex" href="/projets">
    <h3>Projects</h3>
  </a>
  <a class="navbar-logo-text" href="/why_remote_agency">
    <h3>Why remote agency?</h3>
  </a>
  <a class="navbar-logo-text" href="/service_i_provide">
    <h3>Service i provide</h3>
  </a>
  <a class="navbar-logo-text" href="/tools_i_use">
    <h3>Tools i use</h3>
  </a>
  <a class="navbar-logo-text" href="/blog">
    <h3>Posts</h3>
  </a>
</nav>
<div class="clearfix">&nbsp;</div>
