<div class="clearfix">&nbsp;</div>

<ul class="nav justify-content-center">
  <a class="nav-link active" href="/"><strong>Index</strong></a>

  <li class="nav-item">
    <a class="nav-link" href="/remote">Why remote</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/tools">Tools</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/services">Service</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contacts">Contacts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/blog">Blog</a>
  </li>
</ul>

<div class="clearfix">&nbsp;</div>
