<div class="clearfix"></div>
<ul class="social-links text-center">
  <li class="list-inline-item">
    <a class="social-icon" href="mailto:lukin.maksim@gmail.com">
      <div data-icon="ei-envelope"></div>
    </a>
  </li>
  <li class="list-inline-item">
    <a class="social-icon" target="_blank" href="https://github.com/sesharim">
      <div data-icon="ei-sc-github"></div>
    </a>
  </li>
  <li class="list-inline-item">
    <a class="social-icon" target="_blank" href="https://twitter.com/sesharim">
      <div data-icon="ei-sc-twitter"></div>
    </a>
  </li>
  <li class="list-inline-item">
    <a class="social-icon" target="_blank" href="https://linkedin.com/in/sesharim">
      <div data-icon="ei-sc-linkedin"></div>
    </a>
  </li>
</ul>

